.chart-area {
    max-height: 400px; /* Establece una altura máxima para el contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido se desborda */
  }
  .grid-item {
    width: 100%; /* Establece un ancho fijo para cada elemento del grid */
  }
  .chart-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
.griDash .css-o69gx8-MuiCardMedia-root {
    height: 100px;
}

.griDash .css-bhp9pd-MuiPaper-root-MuiCard-root {
    height: 200px;
}