/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del post */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-body {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Estilos del botón flotante */
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  /* Estilos del modal */
  .modal {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .modal-input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .modal-actions {
    margin-top: 20px;
    text-align: right;
  }
  
  /* Estilos del botón en el modal */
  .modal-button {
    margin-left: 10px;
    background-color: #67c87f; /* Color primario */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-button:hover {
    background-color: #3c74c3; /* Color secundario */
  }
  